@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

/* Custom styles for the address input */
.address-input-shadow {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.panel-overlay {
  transition: transform 0.2s ease-out;
}

.panel-overlay:hover {
  box-shadow: 0 0 0 2px #0047FF;
}

/* Ghost panel styles */
.ghost-panel {
  pointer-events: none;
  position: fixed;
  z-index: 1000;
  transform-origin: center center;
  transition: transform 0.1s ease-out;
}